<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"> 
    <!--Header End-->
  <div class="android-content mdl-layout__content">
    <div class="android-more-section card-middle">
      <div class="android-customized-section-text">
        <mat-card class="registration-card">
            <mat-card-title class="login-title mdl-layout-title">Reading Diary</mat-card-title>
          <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)" class="registration-form">
            <mat-form-field class="registration-full-width">
              <input matInput placeholder="Username" [formControl]="usernameFormCtrl" [errorStateMatcher]="matcher">
              <mat-error *ngIf="usernameFormCtrl.hasError('pattern') && !usernameFormCtrl.hasError('required')">
                Please enter valid characters
              </mat-error>
              <mat-error *ngIf="usernameFormCtrl.hasError('required')">
                Username is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="registration-full-width">
                <input matInput placeholder="Email" [formControl]="emailFormCtrl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="emailFormCtrl.hasError('email') && !emailFormCtrl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormCtrl.hasError('required')">
                  Email is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Password" [formControl]="passwordFormCtrl" [errorStateMatcher]="matcher">
              <mat-error *ngIf="passwordFormCtrl.hasError('required')">
                Password is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Confirm Password" [formControl]="confPassFormCtrl" 
              appEqualValidator="passwordFormCtrl" [errorStateMatcher]="matcher">
              <mat-error *ngIf="!(confPassFormCtrl.value===passwordFormCtrl.value) && !confPassFormCtrl.hasError('required')">
                Passwords do not match
              </mat-error>
              <mat-error *ngIf="confPassFormCtrl.hasError('required')">
                Password Confirmation is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="First name" [formControl]="fnameFormCtrl" [errorStateMatcher]="matcher">
              <mat-error *ngIf="fnameFormCtrl.hasError('pattern') && !fnameFormCtrl.hasError('required')">
                Please enter valid characters
              </mat-error>
              <mat-error *ngIf="fnameFormCtrl.hasError('required')">
                First name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Last name" [formControl]="lnameFormCtrl" [errorStateMatcher]="matcher">
              <mat-error *ngIf="lnameFormCtrl.hasError('pattern')">
                Please enter valid characters
              </mat-error>
            </mat-form-field>
            <!-- <button mat-raised-button color="accent" type="submit" [disabled]="!registrationForm.valid">
              Sign Up
            </button> -->
            <button class="login-field login-btn registration-full-width" mat-raised-button color="accent" type="submit">SIGN UP</button>
          </form>
          <a href="/login" class="android-link mdl-button mdl-js-button">
            Login
            <i class="material-icons">chevron_right</i>
          </a>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<!-- 
{{registrationForm?.value | json}}
{{passwordFormCtrl?.value | json}}
{{confPassFormCtrl?.value | json}} -->
