<div mat-dialog-title>
  <span>Add new Reading</span>
  <button id="close" style="float:right;" mat-icon-button mat-dialog-close>
   <mat-icon>clear</mat-icon>
  </button>
</div>
  
  <mat-dialog-content class="dialog-dim">
    <form #addReadingForm="ngForm" (ngSubmit)="onSubmit(addReadingForm)" class="">
      <ul class="demo-list-item mdl-list">
      <li class="mdl-list__item">
        <b>Title:</b>
        <mat-form-field>   
          <input matInput [formControl]="titleFormCtrl">  
        </mat-form-field>
      </li>
      <li class="mdl-list__item">
        <b>Author:</b> 
          <mat-form-field>
            <input matInput [formControl]="authorFormCtrl">
          </mat-form-field>    
      </li>
      <li class="mdl-list__item">   
        <div id="rating">
          <b>Rating:</b>
          <pm-star [rating]='reading?.Rating'></pm-star>
        </div>
      </li>
      <li class="mdl-list__item">
        <b>Link:</b>
        <mat-form-field class="example-full-width">
          <!-- <input matInput [(ngModel)] = 'reading.Link'> -->
          <input matInput [formControl]="linkFormCtrl">
        </mat-form-field>
      </li>
      <!-- <br> -->
      <li class="mdl-list__item">
        <b>Category:</b>
        <mat-form-field class="">
          <mat-select id="category-select" name="cat" [(ngModel)]="selectedCategory">
            <mat-option *ngFor="let cat of categories" [value]="cat.Id">
              {{cat.Name}}
            </mat-option>          
          </mat-select>
        </mat-form-field>
      </li>
      <li class="mdl-list__item">
        <b>DateRead:</b>
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" [formControl]="dateFormCtrl" ng-model-options="{timezone: 'utc'}">
              <mat-datepicker-toggle  matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker id="DateRead" #picker ></mat-datepicker>
          </mat-form-field>
      </li>
      <!-- {{selectedCategory}} -->
      <!-- <br> -->
      <!-- <li class="mdl-list__item"> -->
        <!-- <b>Summary:</b> -->
        <!-- <mat-form-field class="example-full-width">
          <input matInput [formControl]="summaryFormCtrl">
        </mat-form-field> -->
        <mat-form-field id="summary" class="example-full-width">
          <b>Summary:</b>
          <textarea #message maxlength = "300" matInput cdkAutosizeTextarea="true" 
          class="summary-text-area" [formControl]="summaryFormCtrl"></textarea>
          <mat-hint align="end">{{message.value.length}} / 300</mat-hint>
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field> -->
      <!-- </li> -->
      
      <!-- <li class="mdl-list__item"> -->
      <mat-dialog-actions>
        <button mat-button mat-raised-button class="mat-raised-button mat-primary" color="primary" 
        (click)="saveReading()">
          <i class="material-icons">save</i> Save</button>
        <button mat-button mat-raised-button class="mat-raised-button mat-accent" type="submit" color="accent" >
          <i class="material-icons">cancel</i> Cancel
        </button>  
      </mat-dialog-actions>
    </ul>
  </form>
  </mat-dialog-content>
  
 
  
  