.filter-field {
    width: 300px;
}

.search-add-fields {
    padding-top: 20px;
}

.new-reading {
    height: 41px;
}

.reading-card {
    height: 60px;
    /* min-height: 35px; */
    margin-bottom: 0px;
    width: 100%;
    display: -webkit-flex;
    cursor: pointer;
}

.reading-list {
    padding-top: 0px;
}

.reading-list-item {
    height: 120px;
}

.reading-text {
    font-size: 16px;
    text-align: justify;
    width: 95%;
}

.reading-title {
    font-style: bold;
}

.summary {
    font-style: normal;
    height: 100%;
}

.icon-white {
    color: white;
}

.example-selected-value {
  margin: 15px 0;
}

/* .cat-item-toggle {

} */

.categories-toggle {
    /* width: 300px; */
    /* height: 45px; */
    align-items: center;
}

.email-sidebar {
    position: absolute;
    bottom: 0px;
    font-size: 15px;
    padding-left: 0px;
}
.icon-sidebar {
    position: absolute;
    bottom: 5px;
    font-size: 15px;
}

.sidebar-elems {
    vertical-align: text-bottom;
    width: 50px;
}