<style>
    .demo-list-three {
      width: 650px;
    }
    </style>
<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row'>
        </div>
<button class= "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">add</i>
</button>
    <ul class="demo-list-three mdl-list">
      <li class="mdl-list__item mdl-list__item--three-line" *ngFor="let reading of readingList">
        <mat-card>          
        <a class="android-link"(click)="viewDetails(reading)"> <b>{{reading.Title}}</b>,<i> {{reading.Author}} <br> {{reading.Summary}}</i></a>
        </mat-card>  
      </li>
    </ul>
