<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <div class="android-header mdl-layout__header mdl-layout__header--waterfall is-casting-shadow is-compact">
      <div class="mdl-layout__header-row">
        <!-- <span class="android-title mdl-layout-title">
          <img class="android-logo-image" src="images/logo.png">
        </span> -->
        <span class="mdl-layout-title">Reading Diary</span>
        <!-- Add spacer, to align navigation to the right in desktop -->
        <div class="android-header-spacer mdl-layout-spacer"></div>
        <!-- Navigation -->
        <div class="android-navigation-container">
          <nav class="android-navigation mdl-navigation">
            <a class="mdl-navigation__link" href="">Dashboard</a>
            <a class="mdl-navigation__link" href="">Readings</a>
          </nav>
        </div>
      </div>
    </div>

    <div class="android-drawer mdl-layout__drawer">
      <span class="mdl-layout-title">
        <img class="android-logo-image" src="assets/images/black-logo.png">
      </span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link current-tab" href="">Dashboard</a>
        <a class="mdl-navigation__link" href="">Readings</a>
        <!-- <div class="android-drawer-separator"></div> -->
        <span class="mdl-navigation__link">Four tips to make your switch to Android quick and easy</span>
      </nav>
    </div>

    <div class="android-content mdl-layout__content">
      <!-- <a name="top"></a> -->
      <div class="android-more-section">
        <div class="android-section-title mdl-typography--display-1-color-contrast">
          Welcome, {{ username }}!
        </div>
        <app-dashboard></app-dashboard>
        <!-- <app-readings></app-readings> -->
      </div>
      <footer class="android-footer mdl-mega-footer">
        <div class="mdl-mega-footer--bottom-section">
          <!-- <a class="android-link mdl-typography--font-light" href="">Blog</a>
          <a class="android-link mdl-typography--font-light" href="">Privacy Policy</a> -->
          <span class="footer-copyright">Copyright 2018.</span>
        </div>
      </footer>
    </div>
  </div>






