<div mat-dialog-title>
  <span>Reading Details</span>
  <button style="float:right" mat-button mat-dialog-close><i class="material-icons">clear</i></button>
 </div>

<mat-dialog-content>
  <div>
    <b>Title:</b>
    <mat-form-field>   
      <input matInput disabled="{{isEditButton}}" placeholder="" [(ngModel)] = 'reading.Title' value="{{ reading?.Title }}">  
    </mat-form-field>    
    <br>
    <b>Author:</b> 
      <mat-form-field>
      <input matInput disabled="{{isEditButton}}" placeholder="" [(ngModel)] = 'reading.Author' value="{{ reading?.Author }}">  
    </mat-form-field>    
    <br>
    <div id="rating">
      <b>Rating:</b>
      <pm-star (ratingUpdated)="updateRating($event)" 
      [rating]='reading.Rating'></pm-star>
    </div>
    <b>Link:</b>
    <mat-form-field class="example-full-width">
      <input matInput disabled="{{isEditButton}}" placeholder="" [(ngModel)] = 'reading.Link' value="{{ reading?.Link }}">
    </mat-form-field>
    <br>
    <b>Category:</b>
    <mat-form-field class="example-full-width">
      <!--input matInput disabled="{{isEditButton}}" placeholder="" [(ngModel)] = 'categoryName' value="{{ categoryName }}"-->
      <input matInput disabled="{{isEditButton}}" placeholder="" [(ngModel)] = 'reading.Category' value="{{ reading.Category }}">
    </mat-form-field>
    <br>
    <b>Summary:</b>
    <mat-form-field class="example-full-width">
      <input matInput disabled="{{isEditButton}}" placeholder="" [(ngModel)] = 'reading.Summary' value="{{ reading?.Summary }}">
    </mat-form-field>
    <br>
    <b>DateRead:</b>
    <mat-form-field class="example-full-width">
        <input matInput disabled="{{isEditButton}}" placeholder="" [(ngModel)] = 'reading.DateRead' value="{{ reading?.DateRead }}">
    </mat-form-field>
    <br>
    <b>Favorite:</b> {{ reading?.Favorite }}</div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-raised-button class="mat-raised-button mat-primary" 
    color="primary" (click)="enableEditSaveMode()">
      <i class="material-icons">mode_edit</i> {{isEditButton ? 'Edit' : 'Save'}}
    </button>
    <button mat-button mat-raised-button class="mat-raised-button mat-accent"
    color="accent"   (click)="openConfirmationDialog()" >
      <i class="material-icons">delete_sweep</i> Delete
    </button>  
</mat-dialog-actions>

