<div mat-dialog-title>
  <span>Reading Details</span>
  <button id="close" style="float:right;" mat-icon-button mat-dialog-close>
   <mat-icon>clear</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <ul class="demo-list-item mdl-list">
    <li class="mdl-list__item">   
      <b>Title*:</b>
      <mat-form-field>
        <input matInput  
        [formControl]="titleFormCtrl"
        [errorStateMatcher]="matcher">
        <mat-error *ngIf="titleFormCtrl.hasError('required')" align="end">
          Title is required
        </mat-error>
      </mat-form-field>
    </li>
    <li class="mdl-list__item">   
      <b>Author*:</b> 
      <mat-form-field>
        <input matInput  
        [formControl]="authorFormCtrl"
        [errorStateMatcher]="matcher">
        <mat-error *ngIf="authorFormCtrl.hasError('required')" align="end">
          Title is required
        </mat-error>
      </mat-form-field>    
    </li>
    <li class="mdl-list__item">   
      <div id="rating">
        <b>Rating:</b>
        <pm-star (ratingUpdated)="updateRating($event)" 
        [rating]='reading.Rating'></pm-star>
      </div>
    </li>
    <li class="mdl-list__item">   
      <b>Link:</b>
      <mat-form-field class="example-full-width">
      <a href={{reading.Link}}>
      <input matInput style="text-decoration: none; outline:none" mat-input-underline="none" disabled="{{isEditButton}}" [(ngModel)] = 'reading.Link' value="{{ reading?.Link }}">
      </a>
      </mat-form-field>
    </li>
    <li class="mdl-list__item">   
      <b>Category:</b>
      <mat-form-field class="example-full-width">
        <mat-select name="cat" disabled="{{isEditButton}}" [(ngModel)]="selectedCategory">
          <mat-option *ngFor="let cat of categoryList" [value]="cat.Id">
            {{cat.Name}}
          </mat-option>          
        </mat-select>
      </mat-form-field>
    </li>
    <li class="mdl-list__item">   
      <b>Date&nbsp;Read:</b>
      <mat-form-field class="example-full-width">
          <input  
          matInput  
          [matDatepicker]="picker" 
          [formControl]="dateFormCtrl">
          <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker id="DateRead" #picker></mat-datepicker>
      </mat-form-field>    
    </li>
  </ul>  
      <mat-form-field id="summary" class="example-full-width">
        <b>Summary:</b>
        <textarea #message maxlength = "300" matInput disabled="{{isEditButton}}" 
        cdkAutosizeTextarea="true" 
        [(ngModel)] = 'reading.Summary'
        value="{{ reading?.Summary }}"
        placeholder=""></textarea>
        <mat-hint align="end">{{message.value.length}} / 300</mat-hint>
      </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-raised-button disabled = "{{emptyRequiredFields}}" class="mat-raised-button mat-primary" 
    color="primary" (click)="enableEditSaveMode()">
      <i class="material-icons">mode_edit</i> {{isEditButton ? 'Edit' : 'Save'}}
    </button>
    <button mat-button mat-raised-button class="mat-raised-button mat-accent"
    color="accent"   (click)="openConfirmationDialog()" >
      <i class="material-icons">delete_sweep</i> Delete
    </button>  
</mat-dialog-actions>
