<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="android-header mdl-layout__header mdl-layout__header--waterfall is-casting-shadow is-compact">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Reading Diary</span>
        <!-- Add spacer, to align navigation to the right in desktop -->
        <div class="android-header-spacer mdl-layout-spacer"></div>
        <!-- Navigation -->
        <div class="android-navigation-container">
          <nav class="android-navigation mdl-navigation">
            <a class="mdl-navigation__link current-tab" routerLink="/dashboard">Dashboard</a>
            <a class="mdl-navigation__link" routerLink="/readings">Readings</a>
          </nav>
        </div>
      </div>
    </div>
    <div class="android-drawer mdl-layout__drawer">
      <div class="mdl-layout-title">
        <div class="sidebar-elems">
          <!-- <i class="material-icons">account_circle</i> -->
          <span class="mdl-typography--font-light email-sidebar">
              {{currentUser?.Email}}
          </span>
        </div>         
      </div>      
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" routerLink="/dashboard">Dashboard</a>
        <a class="mdl-navigation__link" routerLink="/readings">Readings</a>
        <div class="android-drawer-separator"></div>
        <a class="mdl-navigation__link drawer-link"><span (click)="logout()">Logout</span></a>
      </nav>
    </div>
    <div class="android-content mdl-layout__content">
      
      <div class="android-more-section">
        <!-- START OF SPECIFIC SECTION -->
        <h4>Welcome, {{currentUser?.Firstname}}!</h4>
        <div class="android-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="assets/images/book-1.jpg">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">2018 Stats: {{bookCount}} books so far</h4>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="assets/images/book-2.jpg">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Your latest reading</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                    <div *ngIf="lastRead!=null">{{ lastRead?.Title }} by {{ lastRead?.Author }}</div>
                    <div *ngIf="lastRead==null">None :(</div>
                </span>
              </div>
            </div>
        
            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="assets/images/book-3.jpg">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">The more you read, the more you love.</h4>
              </div>
              <div class="mdl-card__actions">
                 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" (click)="addNewReading()">
                   Add new Reading
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>
          </div>  <!-- END SECTION FOR DASHBOARD -->
        <!-- END OF SPECIFIC SECTION -->
      </div>
      
      <footer class="android-footer mdl-mega-footer">
        <div class="mdl-mega-footer--bottom-section">
          <span class="footer-copyright">Copyright 2018.</span>
        </div>
      </footer>
    </div>
  </div>
