<h3>From Dashboard Component .html</h3>
<!-- START SECTION FOR CONTENT -->
<div class="android-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="assets/images/book-1.jpg">
      </div>
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">Lorem Ipsum is simply dummy text.</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </span>
      </div>
      <div class="mdl-card__actions">
         <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
           Make the switch
           <i class="material-icons">chevron_right</i>
         </a>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="assets/images/book-2.jpg">
      </div>
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">Where does it come from?</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
        </span>
      </div>
      <div class="mdl-card__actions">
         <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
           androidify.com
           <i class="material-icons">chevron_right</i>
         </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="assets/images/book-3.jpg">
      </div>
      <div class="mdl-card__title">
         <h4 class="mdl-card__title-text">Lorem Ipsum is simply dummy text.</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </span>
      </div>
      <div class="mdl-card__actions">
         <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
           Download now
           <i class="material-icons">chevron_right</i>
         </a>
      </div>
    </div>
  </div>
  <!-- END SECTION FOR CONTENT -->